html, body, .station, body>.ember-view {
    height: 100%;
}

div#sidebar {
    position: absolute;
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 400px;
    padding: 0 20px;
}

div.map {
    height: calc(100% - 51px);
    margin-left: 400px;
}

h2 {
    font-size: 16pt;
    white-space: nowrap;
}

dt {
    float: left;
    clear: left;
    width: 120px;
    text-align: right;
}

dt:after {
    content: " :";
}

dd {
    margin: 0 0 0 130px;
    padding: 0 0 0 0;
}

/* we need some content in the <dd> to ensure it has the vertical height*/
dd:after {
  content: " "
}

dl {
margin-top: 20px;
}

.progress {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}

.original-value {
  color: red;
  text-decoration:line-through;
}

.new-value {
  color: green;
}

.station-details-title label {
  display: flex;
  align-items: center;
}

.station-details-title .station-text-input {
  flex: 1 0 15px;
}

.panel-body label {
  display: flex;
  align-items: center;
}

.panel-body label span {
  width: 120px;
}

.station-text-input {
  flex: 1 0 50px;
}

.station-text-input input {
  width: 100%;
}

.station-checkbox {
  flex: 0 0 30px;
  text-align: center;
}
