<nav id="navbar" class="navbar navbar-default" style="margin-bottom: 0; border-radius: 0; border-width: 0 0 1px 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CT Stations Studio</a>
    </div>
    {{user-navbar
      downloadCSV='downloadCSV'
      displayStation='displayStation'
      logOut='logOut'}}
  </div>
</nav>
<div class="container-fluid">
{{outlet}}
</div>
