<div class="panel panel-default" style="width: 500px; margin: 200px auto 0;">
  <div class="panel-heading">
    <h2 class="panel-title" style="font-weight: bold;">
      <i class="fa fa-fw fa-github"></i> Login with GitHub
    </h2>
  </div>
  <div class="panel-body">
    <p>
      To use <strong>CT Stations Studio</strong>, you need to authenticate with GitHub and authorize us to access
      to your <strong>public repositories</strong>.
    </p>
    <p class="text-center" style="margin-top: 2em;">
      <a class="btn btn-primary" href="https://github.com/login/oauth/authorize?client_id={{model}}&scope=public_repo">
        <i class="fa fa-fw fa-github-alt"></i> Authorize on GitHub
      </a>
    </p>
  </div>
</div>
